
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Kategori/Index/">Kategoriler</a></li>
                <li><a href="/Urunler/Index/">Ürünler</a></li>
                <li><a href="/Musteri/Index/">Müşteriler</a></li>
                <li><a href="/Satis/Index/">Satışlar</a></li>
                <li><a href="" data-toggle="modal" data-target="#Hakkimizda">Hakkında</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="modal" id="Hakkimizda">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Hakkımızda</h2>
                    </div>
                    <div class="modal-body">
                        <img src="~/image/logo.png" alt="Alternate Text" />
                        Bu proje <b>Halil ÖZTÜRK</b> taradından yapılmıştır.
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

</body>
</html>