@using MvcProje.Models.Entity;
@model List<TBLMUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div">
    <table class="table table-bordered">
        <tr>
            <th>Müşteri ID</th>
            <th>Müşteri Ad</th>
            <th>Müşteri Soyad</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        <tbody>
            @foreach (var musteriler in Model)
            {

                <tr>
                    <td>@musteriler.MUSTERIID</td>
                    <td>@musteriler.MUSTERIAD</td>
                    <td>@musteriler.MUSTERISOYAD</td>
                    <td><a href="/Musteri/Sil/@musteriler.MUSTERIID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Musteri/Güncelle/@musteriler.MUSTERIID" class="btn btn-primary">Güncelle</a></td>

                </tr>

            }
        </tbody>
    </table>
    <a href="/Musteri/YeniMusteri/" class="btn btn-success">Yeni Müşteri Ekle</a>
    </div>
