
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <form class="form-group" method="post">
        <div>
            <label>Müşteri Ad:</label>
            <input type="text"  class="form-control" name="MusteriAd" required="required" />
        </div>
        <div>
            <label>Müşteri Soyad:</label>
            <input type="text" class="form-control" name="MusteriSoyad"  required="required"/>
        </div>
        <div style="margin-top:15px">
            <button>Müşteri Ekle</button>
        </div>
    </form>
</div>

