@model MvcProje.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <form class="form-group" method="post">
        <div>
            <label>Ürün Ad:</label>
            <input type="text" class="form-control" name="UrunAd" required="" maxlength="50" placeholder="Ürün Adı:"/>
        </div>
        <div>
            <label>Marka:</label>
            <input type="text" class="form-control" name="Marka" required="" maxlength="50"/>
        </div>
        <div>
            <label>Kategori:</label>
            @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.ktg, new { @class = "form-control" })
        </div>
        <div>
            <label>Fiyat:</label>
            <input type="text" class="form-control" name="Fiyat" value="0" required="" />
        </div>
        <div>
            <label>Stok:</label>
            <input type="text" class="form-control" name="Stok" value="0"  required="" />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-success">Ürün Ekle</button>
        </div>
    </form>
</div>
