
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <form class="form-group" method="post">
        <div>
            <label>Kategori Ad:</label>
            <input type="text" class="form-control" name="KategoriAd"  required="required"/>
        </div>
        <div style="margin-top:15px">
            <button>Kategori Ekle</button>
        </div>
    </form>
</div>

