@model MvcProje.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <form class="form-group" method="post">
        <div>
            <label>Kategori Ad:</label>
            @*<input type="text" class="form-control" name="KategoriAd" required="required" />*@
            @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.KATEGORIAD,"",new {@style="color:red"})
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-success">Kategori Ekle</button>
        </div>
    </form>
</div>

