@model MvcProje.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Satışlar Sayfası</h2>
<br />
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Satış Yap</h2>
            </div>
            <div class="modal-body">
                <form action="/Satis/YeniSatis" method="post">
                    <label>Ürün Adı: </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>Müşteri: </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>Adet: </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>Fiyat: </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-success">Satış Ekle</button>
                    <button class="btn btn-default" data-dismiss="modal">Geri</button>
                </form>
            </div>
        </div>
    </div>
</div>